<script context="module">
	export async function load({ page, fetch, session, context }) {
		const res = await fetch(`/docs.json`);
		let data = await res.json();

		if (res.ok) {
			return {
				context: { data }
			};
		}

		return {
			status: res.status,
			error: new Error(`Could not load ${url}`)
		};
	}
</script>

<slot/>